# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "a7ddf8f98a8be987381c5fa1f8fb765e"
name = "Inventory Management"
application_url = "https://inventory-management-gdum.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2024-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
  uri = "/webhooks"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products, write_products, read_inventory, write_inventory, read_locations, write_locations"

[auth]
redirect_urls = [
    "https://inventory-management-gdum.onrender.com/auth/callback",
    "https://inventory-management-gdum.onrender.com/auth/shopify/callback",
    "https://inventory-management-gdum.onrender.com/api/auth/callback"
]
